.App {
  text-align: center;
  background: white;
}

/* intro screen */
.popup-agreement {
    /* background-color: #F0F4EF; */
    /* background: #F0F4EF; */
    color: black;
}
.customBtn {
  background-color: #B4CDED;
  color: black;
}

/* top bar */
.top-bar {
  background-color: #F0F4EF;
  color: black;
}

/* side bar */
#sidebar {
  background-color: #D0E0CD;
  width: 30vw;
  height: 100vh;
  padding: 3%;
}

#sidebar.active {
  margin-left: -30vw;
}

#side-bar-toggle {
  background-color: #D0E0CD;
  width: 20vh;
  height: 50px;
  position: fixed;
  top: 20vh;
  left: 25vw;
  border-radius: 10% 10% 0 0;
  border-width: 0;
  transform: rotate(90deg);
}

#side-bar-toggle.active {
  margin-left: -30vw;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
